#introJumbo {
  background-image: url(../img/cloud.jpg);
}

#hawaii,
#yellowStone,
#newYork,
#resultsJumbo {
  display: none;
}

.hawaiiBG {
  background-image: url(../img/underwater.jpg);
}

.yellowStoneBG {
  background-image: url(../img/waterfall.jpg);
}

.newYorkBG {
  background-image: url(../img/newyork.jpg);
}

#newYork {
  color: #ebff00;
}

#yellowStone {
  color: #20aacf;
}
